.header {
  position: sticky;
  width: 100%;
  top: 0px;
  height: 90px;
  background-color: #9b6969;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  z-index: 300;
}

.leftHeader {
  display: flex;
  flex-direction: row;
}

.logo>img {
  display: flex;
  height: 160px;
  margin-top: -20px;
  align-items: center;
  float: left;
}

.logo {
  color: #9b6969;
  background-color: #9b6969;
  outline: none;
  border: none;
  cursor: pointer;
}

.title {
  font-family: 'Arial';
  /* font-family: "Reem Kufi", sans-serif; */
  font-size: 50px;
  align-items: flex-start;
  margin-top: 0px;
  margin-left: -10px;
  color: #000000;
}

@media (max-width: 767px) {
  .title {
    font-size: 30px;
    margin: 0;
    padding-top: 20px;
  }
}

.logoBtn {
  background: transparent;
  border: none;
  align-items: flex-start;
  margin-top: 27px;
  margin-left: -15px;
  color: #e1dcda;
  outline: none;
  cursor: pointer;
}

.logoBtn:hover {
  filter: brightness(1.1);
}